.space {
  height: 55px;
  /*inherit the size of the header above*/
  /*This is a blank space to force the picture into place.*/
}

#banner {
  height: 30px;
  background-image: url(../../images/bottle.jpg);
  background-size: cover;
  background-position: top right;
  color: white;
  padding: 300px 25px;

  /*  background-position: 0 600px;*/
  /*  height: 600px;*/
}
#banner h1 {
  /*font-size: 5vw ; - setting variable font size for mobiles*/
  font-size: 50px;
  color: white;
}
#banner p {
  font-size: 25px;
  font-weight: 60;
}

