@import url("banner.css");
@import url("footer.css");
@import url("animation_cheat_sheet.css");

body {
  font-family: 'Open Sans', sans-serif;
  color: white;
}
h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}
.card{
  padding: 10px;
  font-weight: 300;
}
.card h2{
  font-size: 20px;
}
.padded {
  padding-top: 8em;
  padding-bottom: 8em;
}
.blue-bg {
  background: #469AE0;
  color: white;
}
/* CSS for banner arrow*/
#banner a {
  font-size: 18px;
  color: white;
}

#banner .scroll-btn {
  font-size: 30px;
  text-align: center;
}

/* body is a tag above - don't use # before body*/
/* banner is a class - use # before calling center on banner*/

body .centered {
  width: 100% ;
  font-size: 300px;
  text-align: center;
}

/* here I have 3 elements attempting to define CSS to scroll button*/

